body{
    font-family: 'popins',sans-serif;
    background-color: blanchedalmond;
}

h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-size: 40px;
}

.name-highlit{
    color: orange;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
}
.half-width img{
    width:100% ;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg,rgb(247, 161, 127), TOMATO);
    padding: 10PX 20PX;
    border-radius: 5PX;
    color: white;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
    padding-right: 2%;
    margin: 18px;
    border-radius: 5px;
    background: linear-gradient(to right,rgb(196, 196, 196),rgb(255, 255, 255));
}
#full-stack{
     border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(0, 17, 255), rgb(17, 131, 197));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
}



@media only screen and (max-width:600px){
    .half-width{
        width: 100%;
        display: block;
    }
    section{
        flex-direction: column;
    }
}